<a href="https://colab.research.google.com/github/jannani21/pythonLab/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Arithmetic operations
print("Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit")
n1=input("Enter the choice of operartion: ")
n=int(n1)
if(n==1):
  print("You have choosen addition Option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a+b
  print("The Result",a,"+",b,"=",c)
elif(n==2):
  print("You have choosen subtraction option:")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a-b
  print("The Result",a,"-",b,"=",c)
elif(n==3):
  print("You have chosen division option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The result",a,"/",b,"=",c)
elif(n==4):
  print("You have chosen multiplication option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The result",a,"*",b,"=",c)
elif(n==5):
  print("You have given a wrong: ",n)
  exit()

Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit
Enter the choice of operartion: 1
You have choosen addition Option:
Enter the value for A: 5
Enter the value for B: 4
The Result 5 + 4 = 9

In [ ]:
#boolean expression
a=True
b=False
print('a= ',a,'b= ',b)
a=False;
print('a= ',a,'b= ',b)

In [ ]:
#nested loop
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [ ]:
#while 
entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
55
66
77
-9
sum= 198

In [ ]:
#elif statement
value=eval(input("Please enter an integer in the range 0....5: "))
if value<0:
  print("To0o small")
else:
  if value ==0:
    print("zero")
  else:
    if value==1:
      print("one")
    else:
      if value ==2:
        print("two")
      else:
        if value==3:
          print("three")
        else:
          if value==4:
            print("four")
          else:
            if value==5:
              print("five")
            else:
              print("too large")
  print("done")

Please enter an integer in the range 0....5: 5
five
done