<a href="https://colab.research.google.com/github/jannani21/pythonLab/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Adding two numbers
num1=1.5
num2=6.3
sum=(num1)+(num2)
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 1.5 and 6.3 is 7.8

In [ ]:
#2 Adding two numbers with user input
num1=input('Enter first number:')
num2=input('Enter second number:')
sum=float(num1)+float(num2)
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

Enter first number:5
Enter second number:6
The sum of 5 and 6 is 11.0

In [ ]:
#3 To calculate the square root
num=8
num_sqrt = num**0.5
print('The squareroot of %0.3f is %0.3f'%(num,num_sqrt))

The squareroot of 8.000 is 2.828

In [ ]:
#4 To calculate the square root of complex numbers
import cmath
num=1+2j
num_sqrt=cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

The square root of (1+2j) is 1.272+0.786j

In [ ]:
#5 To find area of triangle
a=5
b=6
c=7
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('The area of the triangle is %0.2f'%area)

The area of the triangle is 14.70

In [ ]:
#6 To swap two variables
x=5
y=0
temp=x
x=y
y=temp
print('The value of x after swapping;{}'.format(x))
print('The value of y after swapping:{}'.format(y))

The value of x after swapping;0
The value of y after swapping:5

In [ ]:
#7 changing the value of a variable
website="apple.com"
print(website)
website="programiz.com"
print(website)

apple.com
programiz.com

In [ ]:
#8 assigning multiple values to multiple variables
a,b,c=5,3.2,"Hello"
print(a)
print(b)
print(c)

5
3.2
Hello

In [ ]:
#9 Numeric literals
a = 0b1010#Binary Literals
b = 100#Decimal Literal 
c = 0o310#Octal Literal
d = 0x12c#Hexadecimal Literal
#Float Literal
float_1 = 10.5
float_2 = 1.5e2
#Complex Literal 
x = 3.14j
print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [ ]:
#10 String literals
strings="This is Python"
char="C"
multiline_str="""This is a multiline string with more than one line code."""
unicode=u"\u00dcnic\u00f6de"
raw_str=r"raw\n string"
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Ünicöde
raw\n string

In [ ]:
#11 Boolean literals
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
#12 Special literals
drink="Available"
food=None
def menu(x):
  if x==drink:
    print(drink)
  else:
    print(food)
menu(drink)
menu(food)

Available
None

In [ ]:
#13 Literal collections
fruits=["apple","mango","orange"]#list
numbers=(1,2,3)#tuple
alphabets={'a':'apple', 'b':'ball', 'c':'cat'} #dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'} #set
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'u', 'a', 'o', 'e', 'i'}

In [ ]:
#14 find the max of three numbers
def max_of_two(x,y):
  if x>y:
    return x
  return y
def max_of_three(x,y,z):
  return max_of_two(x,max_of_two(y,z))
print(max_of_three(3,6,9))

9

In [ ]:
#15 find sum of numbers in a list
def sum(numbers):
  total=0
  for x in numbers:
    total+=x
  return total
print(sum((8,2,3,0,7)))

20

In [ ]:
#16 find product of all numbers in a list
def multiply(numbers):
  total=1
  for x in numbers:
    total*=x
  return total
print(multiply((8,2,3,-1,7)))

-336

In [ ]:
#17 reverse a string
def string_reverse(str1):
  rstr1=' '
  index=len(str1)
  while index>0:
    rstr1+=str1[index-1]
    index=index-1
  return rstr1
print(string_reverse('1234abcd'))

 dcba4321

In [ ]:
#18 calculate factorial 
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
n=int(input("Input a number  to compute the factorial: "))
print(factorial(n))

Input a number  to compute the factorial: 3
6

In [ ]:
#19 check whether a number falls in a given range
def test_range(n):
  if n in range(3,9):
    print("%s is in the range"%str(n))
  else:
    print("The number is outside the given range.")
test_range(5)

5 is in the range

In [ ]:
#20 calculate the number of upper/lower case letters in a string
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
#21 unique elements from a list
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
#22 test the numbber is prime or not
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [ ]:
#23 print even numbers from a given list
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [ ]:
#24 check whether a number is perfect or not
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [ ]:
#25 checks whether a passed string is palindrome or not
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))

True

In [ ]:
#26 print out the first n rows of pascal's triangle
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [ ]:
#27 check whether a string is pangram or not
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower()) 
print ( ispangram('The quick brown fox jumps over the lazy dog'))

True

In [ ]:
#28 accept a hypen-separated sequence of words as input and prints the sorted word
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

red-black-green-orange
black-green-orange-red

In [ ]:
#29 generate and print a list where thevalues are square of numbers bw two nums
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
		
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#30 function decorators
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped
def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped
def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello()) ## returns "<b><i><u>hello world</u></i></b>"

<b><i><u>hello world</u></i></b>

In [ ]:
#31 execute a string containing python code
mycode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y
print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(mycode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [ ]:
#32 access a function inside a function
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [ ]:
#33 detect the number of local var declared in a function
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")
print(abc.__code__.co_nlocals)

3

In [ ]:
#34 invoke a given function after specific milliseconds
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:") 
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858