<a href="https://colab.research.google.com/github/jannani21/pythonLab/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Arithmetic operations
print("Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit")
n1=input("Enter the choice of operartion: ")
n=int(n1)
if(n==1):
  print("You have choosen addition Option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a+b
  print("The Result",a,"+",b,"=",c)
elif(n==2):
  print("You have choosen subtraction option:")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a-b
  print("The Result",a,"-",b,"=",c)
elif(n==3):
  print("You have chosen division option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The result",a,"/",b,"=",c)
elif(n==4):
  print("You have chosen multiplication option: ")
  a1=input("Enter the value for A: ")
  b1=input("Enter the value for B: ")
  a=int(a1)
  b=int(b1)
  c=a/b
  print("The result",a,"*",b,"=",c)
elif(n==5):
  print("You have given a wrong: ",n)
  exit()

Choice 1: Add, 2: Sub, 3: Div, 4: Mul, 5: Quit
Enter the choice of operartion: 1
You have choosen addition Option:
Enter the value for A: 5
Enter the value for B: 4
The Result 5 + 4 = 9

In [ ]:
#boolean expression
a=True
b=False
print('a= ',a,'b= ',b)
a=False;
print('a= ',a,'b= ',b)

In [ ]:
#nested loop
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [ ]:
#while 
entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
55
66
77
-9
sum= 198

In [ ]:
#elif statement
value=eval(input("Please enter an integer in the range 0....5: "))
if value<0:
  print("To0o small")
else:
  if value ==0:
    print("zero")
  else:
    if value==1:
      print("one")
    else:
      if value ==2:
        print("two")
      else:
        if value==3:
          print("three")
        else:
          if value==4:
            print("four")
          else:
            if value==5:
              print("five")
            else:
              print("too large")
  print("done")

Please enter an integer in the range 0....5: 5
five
done

In [18]:
#Declare a variable
Number=25
Name="Kiran"
B=3.5
print(Number)
print(Name)
print(B)

25
Kiran
3.5

In [17]:
#Multiple assignment
x=y=z="SoftwareTestingHelp"
print(x)
print(y)
print(z)
a,b,c=5,3.2,"Hello"
print(a)
print(b)
print(c)

SoftwareTestingHelp
SoftwareTestingHelp
SoftwareTestingHelp
5
3.2
Hello

In [16]:
#Numbers
a=5
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [15]:
#String
String1="Welcome"
String2="To python"
print(String1+String2)
#slicing
print(String1[2:5])

WelcomeTo python
lco

In [14]:
#List
List=[2,4,5,5,"Hi"]
print("List[2]",List[2])

List[2] 5

In [13]:
#Tuple
Tuple=(50,15,25.6,"Python")
print("Tuple[1]=",Tuple[1])

Tuple[1]= 15

In [12]:
#Set
Set={5,1,2.6,"python"}
print(Set)

{1, 2.6, 'python', 5}

In [11]:
#Dictionary
Dict={1:'Hi',2:7.5,3:'Class'}
print(Dict)

{1: 'Hi', 2: 7.5, 3: 'Class'}

In [10]:
x=15
y=10
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)

x+y= 25
x-y= 5
x*y= 150
x/y= 1.5
x//y= 1

In [9]:
#comparison Operators
x=8
y=15
print('x>y is',x>y)
print('x<y is',x<y)
print('x==y is',x==y)
print('x!=y is',x!=y)
print('x>=y is',x>=y)
print('x<=y is',x<=y)

x>y is False
x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [8]:
#logical operators
a=True
b=False
print('a and b is',a and b)
print('a or b is',a and b)
print('a not b is',a and b)

a and b is False
a or b is False
a not b is False

In [7]:
#identity operator
a1=3
b1=3
a2="Python"
b2="Python"
a3=[4,5,6]
b3=[4,5,6]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [6]:
#Membership operator
a="Python operators"
b={1:'x',2:'y'}
print("P" in a)
print(1 in b)
print('y' in b)

True
True
False

In [5]:
#if statement
num=5
if( num<10):
  print("Num is smaller than 10")

Num is smaller than 10

In [4]:
#if-else statement
num=5
if(num>10):
  print("number is greater than 10")
else:
  print("number is less than 10")

number is less than 10

In [3]:
#elif statements
num=10
if(num==0):
  print("Number is Zero")
elif(num>5):
  print("Number is greater than 5")
else:
  print("Number is smaller than 5")

Number is greater than 5

In [2]:
#nested if-else statements
num=5
if(num>0):
  print("number is positive")
if(num<10):
  print("number is less than 10")

number is positive
number is less than 10

In [1]:
#elif ladder
my_marks=90
if(my_marks<35):
  print("Sorry!,You failed the exam")
elif(my_marks>60 and my_marks>100):
  print("Passed in First class")
else:
  print("Passed in First class")

Passed in First class